<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="br.fernando.agendaprospera">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".ui.principal.Principal">
        </activity>
        <activity android:name=".ui.navegacao.NavegarRota">
        </activity>
        <activity android:name=".ui.quilometragem.QuilometragemListar">
        </activity>
        <activity android:name=".ui.cliente.listar.ClienteListar">
        </activity>
        <activity android:name=".ui.cliente.cadastrar.ClienteCadastrar">
        </activity>
        <activity android:name=".ui.agente.perfil.AgentePerfil">
        </activity>
        <activity android:name=".ui.agente.login.AgenteLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.agente.cadastrar.AgenteCadastrar">
        </activity>
        <activity android:name=".model.Repositorio">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>