<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="br.fernando.agendaprospera">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.SplashScreen"
                  android:theme="@style/AppCompat.TelaCheia">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.principal.Principal">
        </activity>
        <activity android:name=".ui.navegacao.NavegarRota">
        </activity>
        <activity
                android:name=".ui.agenda.AgendaListar"
                android:label="@string/agenda_listar_toolbar">
        </activity>
        <activity
                android:name=".ui.cliente.listar.ClienteListar"
                android:label="@string/cliente_listar_toolbar">
        </activity>
        <activity
                android:name=".ui.cliente.cadastrar.ClienteCadastrar"
                android:label="@string/cliente_cadastrar_toolbar">
        </activity>
        <activity
                android:name=".ui.agente.perfil.AgentePerfil"
                android:label="@string/perfil_agente_toolbar">
        </activity>
        <activity android:name=".ui.agente.login.AgenteLogin">
        </activity>
        <activity
                android:name=".ui.agente.cadastrar.AgenteCadastrar"
                android:label="@string/agente_cadastrar_toolbar">
        </activity>
    </application>

</manifest>